<html>
<head>
<link rel="stylesheet" type="text/css" href="/templates/createlist.css">
<script src="/templates/storejson2.min.js"></script>
<script type="text/javascript" src="/templates/jquery-1.7.2.min.js"></script>
<script language="javascript">
 $(document).ready(function() {
 	if(sessionStorage && sessionStorage.getItem("wheelList"))
	{
		boozeActionList = JSON.parse(sessionStorage.getItem("wheelList"));
		
		for(i=0; i< boozeActionList.length; i=i+1)
		{
			var item = '#item' + (i+1)
			
			$(item).val(boozeActionList[i])			
		}
	}   
 });
 
 function saveList()
 {
 	//1.Save list in session storage
 	//2.Confirm in dialog
 	//3. On dialog close, redirect to home
 	if(sessionStorage)
	{	
 		var boozeActionList = new Array();
 	
 		for(i=0; i< 8; i=i+1)
		{
			var item = '#item' + (i+1)
			
			boozeActionList[i] = $(item).val()			
		}							
		sessionStorage.setItem("wheelList", JSON.stringify(boozeActionList));
		
		alert("List saved!");		
	}
	else
	{
		alert("Your browser does not seem to support local storage...");
	}
	
	parent.location = '/';
 }
</script>
<script type="text/javascript">
	
</script>
<title>Edit your booze list!</title>
</head>
<body>
<h1>Edit your booze list</h1>
<div id="boozelist">
<span class="label">Booze Item #1</span><input name="item1" id="item1" type="text" value="" /><br/>
<span class="label">Booze Item #2</span><input name="item2" id="item2" type="text" value="" /><br/>
<span class="label">Booze Item #3</span><input name="item3" id="item3" type="text" value="" /><br/>
<span class="label">Booze Item #4</span><input name="item4" id="item4" type="text" value="" /><br/>
<span class="label">Booze Item #5</span><input name="item5" id="item5" type="text" value="" /><br/>
<span class="label">Booze Item #6</span><input name="item6" id="item6" type="text" value="" /><br/>
<span class="label">Booze Item #7</span><input name="item7" id="item7" type="text" value="" /><br/>
<span class="label">Booze Item #8</span><input name="item8" id="item8" type="text" value="" /><br/>
</div>
<div id="controlsLayer" align="right">
<input type="button" value="Cancel" onclick="parent.location='/'"  />
<input type="button" value="Save List" onclick="saveList();"/>
</div>
</body>
</html>
