<html>
<head>
<link rel="stylesheet" type="text/css" href="/templates/createlist.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
<script language="javascript">
 $(document).ready(function() {
   $("#hellobooze").click(function() {
     alert("Hello booze!");
   });
 });
</script>
<title>Create your custom booze list!</title>
</head>
<body>
<center>
<div id="boozelist">
<input type="text" value="" />

</div>
<div id="controlsLayer">
<input type="button" value="spin" onclick="spin(boozeActionList, boozeActionList.length);"  />
<input type="button" value="shuffle" onclick="shuffleList(boozeActionList);"/>
</div>
</center>
</body>
</html>
